{% extends "base.html" %}

{% block content %}

<div class="container">

	<div class="col-md-6 col-md-offset-3 jumbotron">
		
		<a class="btn btn-large form-control" href="/login/facebook"><i class="fa fa-facebook fa-2x fa-fw col-md-1"></i><div class="col-md-10">Connect with Facebook</div></a>
		<a class="btn btn-large form-control" href="/login/google"><i class="fa fa-google-plus fa-2x fa-fw col-md-1"></i><div class="col-md-10">Connect with Google+</div></a>
		<a class="btn btn-large form-control" href="/login/github"><i class="fa fa-github fa-2x fa-fw col-md-1"></i><div class="col-md-10">Connect with GitHub</div></a>
	</div>
</div>

{% endblock %}